<div class="signatures-page_container">
    <h2>Good-hearted people from {{city}} who signed this petition:</h2>

    {{#if signees}}
        <section class="signees-list">
            {{#each signees}}

                {{#if homepage}}
                    <a href="{{homepage}}">{{first_name}} {{last_name}}</a>
                    <p>{{age}}</p>

                {{else}}
                    <p>{{first_name}} {{last_name}}</p>
                    <p>{{age}}</p>

                {{/if}}

            {{/each}}

        </section>

        <a href="/">Back to the petition</a>
    {{else}}
        <p>Nobody wants to pay for your vacation...</p>
    {{/if}}
</div>