<div class="main-container main-container--edit">
    <div class="container__right">
        <h2>Edit your profile</h2>
        {{#if url_error}}
            <p class="validation">{{url_error}}</p>
        {{/if}}
        <form class="edit_form" action="/profile/edit" method="POST">
            <div>
                <div class="form__input">
                    <label for="first_name">First name</label>
                    <input name="first_name" required value="{{first_name}}" />
                </div>
                <div class="form__input">
                    <label for="last_name">Last name</label>
                    <input name="last_name" required value="{{last_name}}" />
                </div>
                <div class="form__input">
                    <label for="email">E-mail</label>
                    <input name="email" type="email" required value="{{email}}" />
                </div>
                <div class="form__input">
                    <label for="password">Password</label>
                    <input
                        name="password"
                        type="password"
                        placeholder="Password"
                    />
                </div>
                <div class="form__input">
                    <label for="age">Age</label>
                    <input name="age" type="number" min="10" value="{{age}}" />
                </div>
                <div class="form__input">
                    <label for="city">City</label>
                    <input name="city" value="{{city}}" />
                </div>

                <div class="form__input">
                    <label for="homepage">Homepage</label>
                    <input name="homepage" type="url" value="{{homepage}}" />
                </div>
            </div>
            <button class="button--default button--edit" type="submit">Update</button>
            
        </form>
    </div>

    <div class="container--plain container--edit">{{> menu}}</div>
</div>